body{
   background: url(../HTML/image/papier-peint-support-intisse-pastel-uni-beige.jpg); /* Type de fond de la page */
}

#bloc_page{
    width: 80%;                     /* Utilisation de 80% de la page web uniquement */
    margin: 0 auto;
}

header{
    font-family: 'Verdana';         /* Type de police mit par défaut */
}
/*  -----Disposition du titre----- */
#Titre{ 
    font-size: : 18px;              /* Taille de la police */
    color: #1E4772;                 /* Coleur du texte */
    display: flex;                  /* Définit sa dimension */
    background-color: white;        /* Couleur du fond */
    text-align: center;             /* Place le texte au centre */
    padding-right: 7%;              /* Décalage intérieur à droite de 5px */
    box-shadow: 5px 10px 20px grey; /* Boîte d'ombre derrière le titre */
}
/* -----Disposition de l'image----- */
.Logo{ 
    text-align: center;
    width: 20%;
    height: 20%;
}

/* -----Navigation----- */

ul{
    list-style-type: none;     /* Délimite la liste ou non (lu ; ol) */
    margin: 0;
    padding: 0; 
}

li{   
    display: inline-block;
    float: left;
    margin-right: 1px;         /* Décalage extérieur à droite de 1px */
    min-width: 19.79%;         /* Longueur minimum de la l'élément de la liste */
}

li a{
    display: block;            /* Affichage sous forme de bloc */
    min-width: 150px;          /* Longueur minimum de la l'élément de la liste */
    height: 50px;              /* Hauteur de la l'élément de la liste */
    text-align: center;        /* Place le texte au centre */
    line-height: 50px;         /* Hauteur du texte */
    color: #fff;               /* Couleur de la police */
    background-color: #1E4772; /* Couleur du fond */
    text-decoration: none;     /* Personnalisation du texte ( souligner / barrer / surligner / etc) */
}

li a:hover{                    /* Lorsque l'on place son curseur sur l'élément dans la liste */
    background-color: #10345a; /*  Le fond change de couleur */
}