/* -----Configuration des textes d'importances h2----- */
h2{
    background-color: #1E4772;
    color: white;
    padding: 10px 20px;
}

section{
   display: flex; 
}

article{
    width: 70%;
    border: 1px solid;
    margin-right: 20px;
}

article, aside, footer {
    padding-left: 2%;
    padding-bottom: 20px;
    background-color: #ececec;
    box-shadow: 5px 10px 20px grey;
}
/* -----Configuration des forms---- */
#Nom, #Numero, #Mail{
    padding-right: 280px;
    padding-bottom: 10px;
    border: 1px solid black;
}

#Commentaire{
    padding-bottom: 150px;
    padding-right: 280px;
    border: 1px solid black;
}

/* -----Configuration du label----- */
label{
    font-size: 18px;
}

/* -----Configuration de aside----- */
aside{
    border: solid 1px; 
}

/* -----Configuration du footer----- */
footer{  
    margin-top: 2%;
    background-color: #ececec;
    border: 1px solid;
    box-shadow: 5px 10px 20px grey;
}

/* -----Configuration du bouton envoyez----- */
#envoyez{
    list-style: none;            /* Enlève les éléments concernant la liste */
    text-decoration: none;       /* Personnalisation du texte ( souligner / barrer / surligner / etc) */
    color: black;                /* Coleur du texte */
    text-transform: uppercase;   /* Personnalisation du texte ( Majuscule / Minuscule / etc) */
    border: 1px solid;           /* Bordure */
    padding: 10px;               /* Décalage intérieur de 10px de chaque coté */
    background-color: white;     /* Couleur du fond */
    border-radius: 10px;         /* Arrondissement des bords de la bordure de 10px */
}

#envoyez:hover{                  /* Lorsque l'on place son curseur sur l'élément dans la liste */
    color: white;                /* Le texte change de couleur */
    background-color: #1E4772;   /* Le fond change de couleur */
    border: 1px solid black;
}