/* Corps */

section{
    display: flex;
    margin-bottom: 30px;
}

article, aside{
    padding-left: 2%;
    padding-right: 2%;
}

article{
    font-size: 14px;
    background-color: white; 
    border: solid 1px; 
    margin-right: 5px;
    padding-bottom: 5px;
}

article h1{
    font-size: 20px;
}

aside{
    background-color: #ececec;
    border: solid 1px; 
    width: 99.9%;
}

#imageiut{
    width: 100%;
    height: auto;
    padding-top: 20px;
}

