/* Corps */

#Exemple{
    font-size: 18px;
    background-color: #ececec;
    border: 1px solid;
    padding: 2%; /*Haut Droite Bas Gauche */
}

#semestre{
    font-size: 26px;
}

.M1, .M2, .M3, .M4{
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid;
    padding: 2%;
}

#info{
    position: absolute;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

#info:hover{
    background: #ececec;
}