#article1{
    border: 2px solid #1E4772;
    background-color: #ececec;
}

#article2{
    border-top: 2px solid #1E4772;
}

#photo_prof, biographie{
    text-align: center;
    padding-top: 2px;
}

.perso{
    text-align: center;
    font-size: 22px;
}

#biographie{
    border-top: 2px solid #1E4772;
    border-bottom: 2px solid #1E4772;
    text-align: center;
    background-color: #c5c5c5;
}