@media screen and (min-width: 1080px){ /* Responsive globale */
    #bloc_page{
        width: auto;
    }  
}

@media all and (max-width: 840px){ /* Responsive "Accueil" lorsque la résolution en longueur de la page fait min. 840px */
    .Logo{
        display: none; /* Disparition du logo */
    }
    #Titre{
        justify-content: center; /* Place le contenu du titre au centre */
    }  
    section{
        flex-direction: column; /* Place chaque contenu spécifique dans section les uns en dessous des autres */
    }
    article{
        margin-right: 0; /* Enlève le décalage extérieur droite */
    }
    article, aside{
        width: auto;
        margin-bottom: 15px; /* Décalade extérieur bas de 15px */
    } 
    .imageiut{
        display: none; /* Disparition de l'imageiut */
    }
}

/* -----Responsive "Contact" et "Charte" pour différente résolution d'écran----- */

@media all and (max-width: 640px){ 
    #Nom, #Numero, #Mail, #Commentaire{
        padding-right: 200px;
    }
}
    
@media all and (max-width: 490px){
    #Nom, #Numero, #Mail{
        padding-right: 170px;
    }
    #Commentaire{
        padding-right: 170px;
        padding-bottom: 120px;
    }
    }
    
@media all and (max-width: 530px){ 
    #Titre, #texte_charte h1{
        font-size: 10px;
    }
    }
    
@media all and (max-width: 420px){ 
    #Nom, #Numero, #Mail{
        padding-right: 80px;
        padding-bottom: 10px;
    }
    #Commentaire{
        padding-right: 80px;
        padding-bottom: 130px;
    }
}

@media all and (max-width: 320px){ 
    #Titre, #texte_charte h1{
        font-size: 8px; /* Réduction de la police */
    }
    #Nom, #Numero, #Mail{
        padding-right: 50px; /* Réduction du décalage intérieur droite */
        padding-bottom: 10px; /* Réduction du décalage intérieur bas */
    }
    #Commentaire{
        padding-right: 50px;
        padding-bottom: 100px;
    }
}
    
@media all and (max-width: 980px){
    li{
        display: contents; /* l'affichage ne génère aucune boîte, donc son arrière-plan, sa bordure et son remplissage ne sont pas rendus */
    }
}
    